body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color:#2196F3;
}
ul {
    margin: 10px 0;
    padding-left: 20px;
}
.case {
    margin-bottom: 40px;
}
.case h2 {
    border-bottom: 2px solid #2196F3;
    padding-bottom: 5px;
}
.section {
    margin-bottom: 20px;
}
button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: #2980b9;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3498db;
    border-color: #2980b9;
    transform: scale(1.1);
}

button:active {
    background-color: #1c5a87;
    transform: scale(1);
}
